
.main-sidebar {
    background: linear-gradient(180deg, #1E3A8A, #0C4A6E); /* ฟ้าเข้ม-กรมท่า */
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 80px; /* เริ่มจากด้านล่างของ Navbar */
    left: 0;
    width: 250px;
    z-index: 1040;
    padding-top: 20px;
}


.nav-sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #d1d1d1; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-sidebar .nav-link:hover {
    background-color: #1E40AF; 
    color: #fff; 
}


.brand-link {
    background-color: #1E3A8A; 
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.nav-icon {
    margin-right: 15px;
}

.nav-sidebar {
    padding-left: 0;
    list-style: none;
}

